
*{

    background-color: white;
    font-family: Times, serif;
}

#head{
    margin-left: 10%;
    display: flex;
    justify-content: center;
}


img{
    margin-left: 5%;
    width: 5%;
    height: 7%;
    border-radius: 60%;
    border: 1px solid black;
}




.items{
    flex:1;
    align-items: center;
    box-shadow: 10px auto;
    text-align: center;
    text-decoration: none;
    font-size: large;
    padding: 50px;
    cursor: pointer;
    border: solid 1px ; 

}


#head a{
  padding: 0.5%;
  box-shadow: 1px 1px 1px #34353b;
  border-radius: 5px;
  transform: scale(0.9);
  transition: 0.3s linear;
 
}

#head a:hover{
  background-color:  #9df9ef  ;
  color: black;
  box-shadow: -0.3ch 0.3ch  -0.3ch 0.3ch  0.5ch whitesmoke;
  transform: scale(1);

}



#body{
    margin: 10%;
    width: 80%;
    border: solid 3px yellow;
    border-left: 3px solid violet;
    border-top: 3px solid violet;



    border-radius: 1%;
    box-shadow: #36469d ;
    padding: 2%;
}



.heading{
    color: rgb(81, 28, 226);
    font-size: 115%;
    font-weight: 300;
    text-decoration:darkblue;
    font-weight: bolder;
}

.title{
    font-size: 103%;
    font-weight: 100;
    text-decoration: underline;
    padding: 1%;
    color: violet;
    font-weight: 1000;


}


.subtitle{
  font-size: 105%;
  color:green;
  font-weight: 900;
}



.p{
    font-size: 100%;
    padding: 0.5%;

}


.footer{
    text-align: center;
    padding: 30PX;
  
  }
  .back{
    text-decoration: none; 
    position: fixed;
    padding:5px;
     bottom: 2%; 
     right: 3%;
     border-radius: 60%; 
    border: 1px solid aqua;
    
  }
  .back span{
    color:aqua;
  }
  .back:hover span, .back:hover{
    background-color: aqua;
    color:black;
  }

